/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap');&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Shizuru&display=swap');&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Shizuru', cursive;
  --font-secondary: 'Arvo', serif;
  --font-third: 'Righteous', cursive;
  --font-code: 'Roboto', monospace;
  --bg-color: #640635;
  --font-color: #ffffff;
  --font-color2: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --header-shadow: #000 0px 0px 5px;
  --box-shadow: rgb(255, 255, 255) 10px 10px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background/Webback\ .png);
  background-size: 100%;
  background-position: top left;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.containerUp {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.containerOriginal {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.rowstyle {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .containerUp {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 5.5rem;
  text-align: center;
}

.countdown h2 {
  font-family: var(--font-secondary);
  font-style: normal;
  margin: 2rem 0;
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
}

.countdown p {
  font-size: 2.1rem;
  font-family: var(--font-third);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

.owner-team {
  font-size: 2rem;
  text-align: justify;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .hero-btn {
    border-radius: 7px;
    font-size: .8rem;
    padding: 1rem 2rem;
  }
  .countdown h1 {
    font-size: 4rem;
  }
  .countdown p {
    font-size: 1rem;
  }

  .countdown__gif {
    max-width: 20rem;
    max-height: 20rem;
  }

  .countdown .clock-item {
    width: 50px;
  }

  .countdown .clock-item .count-number {
    font-size: 1.5rem;
    padding: .75rem;
  }

  .countdown .clock-item .count-text {
    font-size: .8rem;
    padding: 0.5rem 0.5rem;
  }

  body {
   background-size: 170%;
  }

  .box {
    max-width: 30rem;
    border: #be7efe 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 0.1em;
  }

  .box p {
    font-size: 1rem;
    padding: 0rem;
  }

  .countdown h2 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  .team__img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 5px;
  }

 .split h3 {
   font-size: 1rem;
 }

  .split p {
    font-size: .7rem;
    padding: .1em;
    line-height: 1.2em;
    max-width: 10rem
  }
}
 
/* TEAM STYLES */

.name h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.box {
 background-color: rgb(0, 0, 0);
 border: #be7efe 5px;
 border-style: solid;
 max-width: 60rem;
 border-radius: 40px;
 padding: 1em;
 text-align: center;
 font-family: var(--font-secondary);
 color: var(--font-color);
 font-size: 1.5rem;
 line-height: 1.7;
}

.box p {
 padding: 0.5em;
}


 .countdown__gif {
   width: 500px;
   height: 500px;
 }

 .team__img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

 .img {
   max-width: 100%;
 }

  
 .split {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-basis: 1;
   text-align: left;
   padding: 0.5em;
  }

 .split h3 {
    margin-left: .5em;
}

 .split li {
   display: block;
   margin-left: 1em;
    flex-shrink: 1;
    flex-grow: 0;
 }
